h1 {
    text-align: center;
    color: black;
}
h2 {
    text-align: center;
    color: gray;
}
p { 
    text-align: left;
    width: 100%;
    color: blue;

}

h3 { 
    text-align: left;
    color: black;
}
